<div class="d-flex">
    <div id="sidebar-container" class="bg-warning">
        <div class="menu">
            <a href="vehiculos" class="d-block text-dark h5 p-3"><i class="fas fa-car"></i> Vehículos</a>
            <a href="usuarios" class="d-block text-dark h5 p-3"><i class="fas fa-users"></i> Usuarios</a>
            <a href="eventos" class="d-block text-dark h5 p-3"><i class="fas fa-calendar-alt"></i> Eventos</a>
            <a href="informes" class="d-block text-dark h5 p-3"><i class="fas fa-file"></i> Informes</a>
        </div>
    </div>
        <div class="col-md-8 mx-auto mt-3">
            <h3 class="card-title text-center m-2">Lista de Vehículos</h3>
            <hr>
            <table class="table table-striped bg-warning" style="justify-content: center;">
                <thead class="thead-dark">
                     <th>N°</th><th>Nombre</th><th>Placa</th><th>Marca</th><th>Modelo</th><th>Año</th><th>Color</th><th>Accion</th>
                </thead>
                {{#each vehicles}}
                        <tr>
                            <td>{{length}}</td>
                            <td>{{nombre}}</td>
                            <td>{{placa}}</td>
                            <td>{{marca}}</td>
                            <td>{{modelo}}</td>
                            <td>{{año}}</td>
                            <td><button disabled style="background-color:{{color}}"><i class="fas fa-palette"></i></button></td>
                            <td>
                                <a href="/vehicles/delete/{{placa}}"
                                    class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                    <!--  paola diaz -->
                                </a>
                            </td>
                        </tr>       
                {{/each}}      
            </table>
        </div>    
    </div>
</div>