<div class="container p-4 mx-auto">
    <div class="row">
        <div class="col-md-3">
            <h3 class="card-title">Lista de Usuarios</h3>
            <hr>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <th>Nombre</th><th>Apellido</th><th>Correo</th><th>Rol</th><th>Accion</th>
                </thead>
                {{#each users}}
                <tr>
                    <td>{{nombre}}</td><td>{{apellido}}</td><td>{{correo}}</td><td>{{rol}}</td>
                    <td>
                        <a href="/links/delete/{{id}}"
                            class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}             
            </table>
        </div>    
    </div>
</div>